/* Mobile styles */
@media screen and (max-width: 767px) {
    /* CSS rules for mobile devices */
  }
  
  /* Tablet styles */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for tablets */
  }
  
  /* Desktop styles */
  @media screen and (min-width: 1024px) {
    .footer-container {
      padding-top: 20px;
      background-color: #01013f;
      flex-direction: column;
      flex:1;
      margin-top: 60px;
    }
    .footer-row-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
      padding-left: 30px;
      padding-right: 30px;
      font-size: large;
    }
    .footer-left-container {
      background-color: #01013f;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
    }
    .footer-middle-container {
      background-color: #01013f;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;
      color: white;
    }
    .footer-right-container {
      background-color: #01013f;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: white;
    }
    .footer-bottom-container {
      background-color: #01013f;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;
      color: white;
      font-size: small;
    }
    .footer-logo {
      width: 120px;
    }
    .footer-link {
      color: white;
    }
    .footer-link-logo {
      padding-right: 5px;
    }
  }