/* Mobile styles */
@media screen and (max-width: 767px) {
    /* CSS rules for mobile devices */
  }
  
  /* Tablet styles */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for tablets */
  }
  
  /* Desktop styles */
  @media screen and (min-width: 1024px) {
    .header-container {
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
      .header-left-container {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
      }
      .header-middle-container {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex: 1
      }
      .header-right-container {
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .header-logo {
        width: 120px;
      }
      .header-tab-button {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        font-size: 30px;
        cursor:pointer;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: grey;
      }
      .header-active-tab-button {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        font-size: 30px;
        cursor:pointer;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: underline;
        text-decoration-color: green;
      }
  }
  


















  