/* Mobile styles */
@media screen and (max-width: 767px) {
    /* CSS rules for mobile devices */
  }
  
  /* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for tablets */
  }
  
  /* Desktop styles */
@media screen and (min-width: 1024px) {
  .home-title {
    font-size: 30px;
    font-weight: thin;
    margin-bottom: 100px;
  }
  .home-title-container {
    margin-top: 0px;
  }
}